extends ../../layouts/default.pug
include ../../mixins/alert.pug
block main
  +alert-success(5000)
  h1(class="mb-4") #{pageTitle}


  form(
      action=`/${prefixAdmin}/singers/edit/${singer.id}?_method=PATCH`
      method="POST"
      enctype="multipart/form-data"
    )
    .row
        .col-6
            div(class="form-group")
                label(for="title") Họ và tên
                input(
                type="text"
                class="form-control"
                id="title"
                name="fullName"
                value=singer.fullName
                required
                )
        .col-6
            div(
                class="form-group"
                upload-image
            )
                label(for="avatar") Ảnh
                input(
                type="file"
                class="form-control-file"
                id="avatar"
                name="avatar"
                accept="image/*"
                upload-image-input
                )
                img(
                src=value=singer.avatar
                class="image-preview"
                upload-image-preview
                ) 
                span( 
                    close-image-preview 
                    class=""
                )
    div(class="form-group form-check form-check-inline")
        input(
          type="radio"
          class="form-check-input"
          id="statusActive"
          name="status"
          value="active"
          checked
        )
        label(for="statusActive" class="form-check-label") Hoạt động
    div(class="form-group form-check form-check-inline")
        input(
          type="radio"
          class="form-check-input"
          id="statusInActive"
          name="status"
          value="inactive"
        )
        label(for="statusInActive" class="form-check-label") Dừng hoạt động
    div(class="form-group")
        button(
          type="submit"
          class="btn btn-primary"
        ) Cập nhật